@tailwind base;
@tailwind components;
@tailwind utilities;

$background: #000;
$foreground: #f8f8f8;
$cg-blue: #247ba0;

html,
body {
  background-color: $background;
  color: $foreground;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-gradient {
  background: #111111;
  background: radial-gradient(
    circle,
    rgba(105, 105, 105, 1) 0%,
    rgba(17, 17, 17, 1) 50%,
    rgba(17, 17, 17, 1) 100%
  );
}

img {
  user-select: none;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  z-index: 1;
}
.border-header {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
  border-image-slice: 1;
}

.different__gradient {
  color: transparent;
  background-clip: text;
  background-image: radial-gradient(
    circle,
    #247ba0 9%,
    #08161c 100%,
    #174558 50%,
    #000000 100%
  );
}
