.hero__header {
  @apply text-4xl font-bold text-white flex flex-col;
}

@keyframes underline-animation {
  0% {
    clip: rect(2.5rem, 0px, 1000px, 0);
  }
  50% {
    clip: rect(2.5rem, 0px, 1000px, 0);
  }
  100% {
    clip: rect(2.5rem, 8rem, 1000px, 0);
  }
}

@keyframes text-animation {
  0% {
    clip: rect(0px, 0px, 1000px, 0);
  }
  50% {
    clip: rect(0px, 0px, 1000px, 0);
  }
  100% {
    clip: rect(0px, 8rem, 1000px, 0);
  }
}

@keyframes text-animation-out {
  0% {
    clip: rect(0px, 10000px, 10000px, 0);
  }
  50% {
    clip: rect(0px, 10000px, 10000px, 0);
  }
  100% {
    display: none;
    clip: rect(0px, 10000px, 10000px, 8rem);
  }
}
.hero__animation {
  transition: 1.3s cubic-bezier(0.83, 0, 0.17, 1);
  animation: underline-animation 1.3s;
  @apply border-b-4 border-transparent;
  color: transparent;
  position: absolute;
  border-image-source: linear-gradient(
    to right,
    rgb(236, 72, 153),
    rgb(239, 68, 68),
    rgb(234, 179, 8)
  );
  border-image-slice: 1;
}

.hero__text__animation {
  transition: 1.3s cubic-bezier(0.83, 0, 0.17, 1);
  animation: text-animation-out 1.3s;
  position: absolute;
  animation-fill-mode: forwards;
}

.hero__text__animation__two {
  transition: 1.3s cubic-bezier(0.83, 0, 0.17, 1);
  animation: text-animation 1.3s;
  @apply bg-clip-text text-transparent bg-gradient-to-r
    from-pink-500 via-red-500 to-yellow-500;
  position: absolute;
  border-image-source: linear-gradient(
    to right,
    rgb(236, 72, 153),
    rgb(239, 68, 68),
    rgb(234, 179, 8)
  );
}

.hero__wrapper {
  @apply mx-auto container flex justify-between items-center;
}
